div{
    padding-top: 1vw;
    padding-left: 1vw;
}
form{
    height: 30vw;
    width: 50vw;
    padding-bottom: 39px;
    padding-top: 30px;
    margin-top: 3vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    background-color: aliceblue;
    box-shadow: 0 5px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    background-color: #c9d6ff;
    height: 90vh;
    
}
button{
    background-color: rgb(0, 102, 255);
    font-size: 15px;
    font-weight: 600;
    padding: 10px 45px;
    border-radius: 10px;
    border: 1px solid transparent;
}
.inText{
    background-color: lightgray;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    width: 100%;
    border-radius: 10px;
    width: 20vw;
}
.textContainer{
    position: relative;
    display: flex;
    flex-direction: column;
}

.submit{
    margin-top: 1vw;
    color: rgba(211, 211, 211, 0.717);
}
p{
    background-color: red;
    position: relative;
}
#firstName{
    display: flex;
    flex-direction: column;
}

